<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='infostyles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
</head>
<body>
    <div class="all">
        <div class="container">
			<div id="cardContainer">
				<!-- Cards will be dynamically generated here -->
			</div>
        <div class="container">
			<div id="cardContainer">
				<!-- Cards will be dynamically generated here -->
			</div>
        </div>
        <div class="pagination">
        	<!-- Next button to load the next set of cards -->
			<a href="#" class="beautiful-button2" id="prevButton">Prev</a>
			<a href="#" class="beautiful-button" id="nextButton">Next</a>
        	<!-- Next button to load the next set of cards -->
			<a href="#" class="beautiful-button2" id="prevButton">Prev</a>
			<a href="#" class="beautiful-button" id="nextButton">Next</a>
        </div>
    </div>

    <div class="console" id="consoleContainer">
        <div id="infoContainer">
        </div>
        <div id="image-contain"></div>
        <div id="buttons">
            <button onclick="callFunction()" class="beautiful-button3">Call Function</button>
            <p id="result"></p>
        </div>

    </div>



    <script>
        let jsonData = []; // Store the JSON data
        let currentPage = 0; // Track the current page
        const cardsPerPage = 8; // Number of cards per page

        const cardContainer = document.getElementById('cardContainer');
        const infoContainer = document.getElementById('infoContainer');
        const nextButton = document.getElementById('nextButton');
        const prevButton = document.getElementById('prevButton');

        function createCard(cardData) {
            const card = document.createElement('div');
			card.style.padding = '20px'
			card.style.display = 'flex';
			card.style.flexDirection = 'column'
			card.style.alignItems = 'center';
            card.classList.add('card');
            card.addEventListener('mouseover', ()=>{
				const card2 = createInfoCard(cardData);
                infoContainer.innerHTML = card2.outerHTML;
			});

            const image = document.createElement('img');
            image.src = cardData.image; // Set the image source from the JSON data
			image.alt = 'User Image'; // Set alt text for accessibility
            image.style.height = '100px';
            image.style.width = '100px';
            image.style.transition = '0.4s ease-out'
            image.style.borderRadius = '80px';
			image.style.borderStyle = 'solid'
			image.style.borderWidth = '.2px'
			image.style.cursor = 'pointer'
			image.addEventListener('click', ()=>{
				window.open(cardData.intra_link, '_blank');
			});
			image.alt = 'User Image'; // Set alt text for accessibility
            image.style.height = '100px';
            image.style.width = '100px';
            image.style.transition = '0.4s ease-out'
            image.style.borderRadius = '80px';
			image.style.borderStyle = 'solid'
			image.style.borderWidth = '.2px'
			image.style.cursor = 'pointer'
			image.addEventListener('click', ()=>{
				window.open(cardData.intra_link, '_blank');
			});
            card.appendChild(image);

            const login_text = document.createElement('p');
            login_text.textContent = `${cardData.login}`;
            login_text.style.color = '#34a0a4'
			login_text.style.cursor = 'pointer'
			login_text.style.fontWeight = '600'
			login_text.style.fontSize = '25px'
            // login_text.style.paddingLeft = '10px'
			login_text.addEventListener('mouseover', ()=>{
				login_text.style.textDecoration = 'underline';
			});
			login_text.addEventListener('mouseout', ()=>{
				login_text.style.textDecoration = 'none';
			});
			login_text.addEventListener('click', ()=>{
				window.open(cardData.intra_link, '_blank');
			});
            login_text.textContent = `${cardData.login}`;
            login_text.style.color = '#34a0a4'
			login_text.style.cursor = 'pointer'
			login_text.style.fontWeight = '600'
			login_text.style.fontSize = '25px'
            // login_text.style.paddingLeft = '10px'
			login_text.addEventListener('mouseover', ()=>{
				login_text.style.textDecoration = 'underline';
			});
			login_text.addEventListener('mouseout', ()=>{
				login_text.style.textDecoration = 'none';
			});
			login_text.addEventListener('click', ()=>{
				window.open(cardData.intra_link, '_blank');
			});
            card.appendChild(login_text);

			const bhInfoLabel = document.createElement('p');
			bhInfoLabel.textContent = 'Black Hole absoption in '
			bhInfoLabel.style.color = 'black'
			card.appendChild(bhInfoLabel);

			const bhValueDiv = document.createElement('div');
			const bhInfoValue = document.createElement('p');
			const bhEndingLabel = document.createElement('p');
			
			bhValueDiv.style.display = 'flex';
			bhValueDiv.style.flexDirection = 'row';
			bhValueDiv.style.alignItems = 'baseline'

			bhInfoValue.textContent = `${cardData.blackhole}`;
			bhInfoValue.style.color = 'red';
			bhInfoValue.style.fontWeight = 'bold';
			bhInfoValue.style.fontSize = '40px';
			bhInfoValue.style.margin = '0'

			bhEndingLabel.textContent = `day(s)`;
			bhEndingLabel.style.color = 'black';
			bhEndingLabel.style.fontWeight = 'bold';
			bhEndingLabel.style.fontSize = '20px';
			bhEndingLabel.style.padding = '0px 10px'
			bhEndingLabel.style.margin = '0'
			
			bhValueDiv.appendChild(bhInfoValue);
			bhValueDiv.appendChild(bhEndingLabel);
			card.appendChild(bhValueDiv);
			
            return card;
        }

        const imageContainer = document.getElementById("image-contain");

        // Create an img element
        const imageElement = document.createElement("img");

        imageElement.src = '/image';
        imageElement.style.maxHeight = `850px`;
        imageElement.style.maxWidth = `850px`;
        imageContainer.appendChild(imageElement);

        function callFunction() {
            // Send an AJAX request to the Flask route that triggers the function
            fetch('/call_function')
                .then(response => response.text())
                .then(data => {
                    // Display the result on the web page
                    document.getElementById('result').textContent = data;
                })
                .catch(error => console.error('Error:', error));
            }

        // Function to display cards for the current page
        function displayCurrentPage() {
            const startIndex = currentPage * cardsPerPage;
            const endIndex = startIndex + cardsPerPage;

            // Clear the card container
            cardContainer.innerHTML = '';

            // Display cards for the current page
            for (let i = startIndex; i < Math.min(jsonData.length, endIndex); i++) {
                const cardData = jsonData[i];
                const card = createCard(cardData);
                cardContainer.appendChild(card);
            }

            infoContainer.innerHTML = '';
            const cardData2 = jsonData[startIndex];
            const card2 = createInfoCard(cardData2);
            infoContainer.appendChild(card2);
        }

        function createInfoCard(cardData) {
            const card = document.createElement('div');
			card.style.padding = '20px';
			card.style.display = 'flex';
			card.style.flexDirection = 'column';
			card.style.alignItems = 'flex-start';
            
            const title = document.createElement('h1');
            title.textContent = `Basic Info`;
            title.style.textDecorationLine = 'underline';
            title.style.color = `black`;
            title.style.padding = '0px 20px 0px 0px';
			title.style.margin = '0';
            card.appendChild(title);
            
            const name = document.createElement('p');
            name.textContent = `Full Name: ${cardData.fullname}`;
            name.style.color = `black`;
            name.style.paddingTop = '30px';
            name.style.paddingBottom = '10px';
			name.style.margin = '0';
            card.appendChild(name);

            const login = document.createElement('p');
            login.textContent = `Intra ID: ${cardData.login}`;
            login.style.color = `black`;
            login.style.padding = '20px 0px';
			login.style.margin = '0';
            card.appendChild(login);

            const level = document.createElement('p');
            level.textContent = `Level: ${cardData.level}`;
            level.style.color = `black`;
            level.style.padding = '20px 0px';
			level.style.margin = '0';
            card.appendChild(level);

            const last_project = document.createElement('p');
            last_project.textContent = `Last submitted project : ${cardData.project_name}`;
            last_project.style.color = `black`
            last_project.style.padding = '20px 0px'
			last_project.style.margin = '0'
            card.appendChild(last_project);

            const submission = document.createElement('p');
            submission.textContent = `Submission date : ${cardData.marked_at}`;
            submission.style.color = `black`
            submission.style.padding = '20px 0px'
			submission.style.margin = '0'
            card.appendChild(submission);
			
            return card;
        }

        function handleNextClick() {
            if (currentPage + 1 == Math.ceil(jsonData.length / cardsPerPage))
                return;
            currentPage++; // Move to the next page
            displayCurrentPage(); // Display the next set of cards
        }

        function handleprevClick() {
            if (currentPage == 0)
                return;
            currentPage--; // Move to the next page
            displayCurrentPage(); // Display the next set of cards
        }

        // Fetch JSON data and set up the initial page
        fetch('/data')
            .then(response => response.json())
            .then(data => {
                jsonData = data; // Store the JSON data
                // Display the initial page
                displayCurrentPage();
                // Add event listener to the "Next" button
                // nextButton.disabled  = false;
                // prevButton.disabled  = false;
                prevButton.addEventListener('click', handleprevClick);
                nextButton.addEventListener('click', handleNextClick);
                // Add event listener to the "Next" button
            })
            .catch(error => console.error('Error loading JSON data:', error));

    </script>
</body>
</html>
      

      