/* body{
    background-image: 
        linear-gradient(
            to top right, #8B5CF6, #EC4899
        );
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
} */
.left{
    background-image: 
        linear-gradient(
            to top right, #8B5CF6, #EC4899
        );
    max-height: 100vh;
    height: 500px;
    /* margin: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.right{
    max-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.slider{
    position: absolute;
    width: 100%;
    height: 370px;
    /* position: center; */
    overflow: hidden;
    left: 25%;
    right: 25%;
}
.item{
    position: absolute;
    width: 700px;
    height: 320px;
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    top: 0;
}
#next, #prev{
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 400px;
}
#next{
    left: unset;
    right: 400px;
}
